<<<<<<< HEAD
.container {
  border: 2px solid tomato;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
=======
.container {
  border: 2px solid tomato;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
>>>>>>> 03286c738c9a67e6bb7f769e1256a6201f9d7edb
