.container {
  border: 2px solid tomato;
  margin: 0 auto;
  width: 100%;
  padding-left: 0 20px;
  padding-right: 20px;
  min-width: 320px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
