<section class="about">
  <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <img src="" alt="cow and milk" />
    <p class="about__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. <br />
      <br />
      Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button type="button" class="btn">
      Read more
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
