<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__card">
        <p>CAFE</p>

        <h3>Chicago</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul>
          <li>Monday - Friday <span>06:00 AM - 10:00 PM</span></li>
          <li>Saturday - Sunday <span>08:00 AM - 16:00 PM</span></li>
        </ul>

        <ul>
          <li><a href="tel:+">+61(0) 383 766 284</a></li>
          <li><a href="mailto:">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__card">
        <p>FOOD TRUCK</p>

        <h3>Los Angeles</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul>
          <li>Monday - Friday <span>06:00 AM - 10:00 PM</span></li>
          <li>Saturday - Sunday <span>08:00 AM - 16:00 PM</span></li>
        </ul>

        <ul>
          <li><a href="tel:+">+61(0) 383 766 284</a></li>
          <li><a href="mailto:">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__card">
        <p>CAFE</p>

        <h3>New York</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul>
          <li>Monday - Friday <span>06:00 AM - 10:00 PM</span></li>
          <li>Saturday - Sunday <span>08:00 AM - 16:00 PM</span></li>
        </ul>

        <ul>
          <li><a href="tel:+">+61(0) 383 766 284</a></li>
          <li><a href="mailto:">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>

    <button type="button" class="btn">
      Our Locations
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>

    <button type="button" class="btn">
      Franchise
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
