<footer class="footer">
  <div class="container footer__container">
    <div class="footer__text">
      <p class="footer__subtitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="footer__container--icon">
      <ul class="footer__networks">
        <li>
          <a href="">
            <svg width="" height="" class="networks__icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="" height="" class="networks__icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="" height="" class="networks__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="footer__link" href=""
        ><span class="footer__link--text">Feel free to contact</span> +61 (0)
        383 766 284</a
      >
    </div>
  </div>
  <p class="footer__end">
    <span class="footer__end--wrap">2019 - IceCream. All Rights Reserved.</span>
  </p>
  <!-- <div class="footer__line"></div> -->
</footer>
