<section class="header">
  <div class="container">
    <a class="header__logo" href="#">
      <img src="./images/logo/logo@1x.png" alt="logo" width="199" />
    </a>
    <nav class="header__nav">
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <svg class="header__burger" width="20" height="12">
      <use href="./images/icons.svg#icon-burger"></use>
    </svg>
    <button class="btn header__button" type="button">
      Buy now
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
