<section class="header">
  <div class="header__container">
    <a class="header__logo" href="./index.html">
      <picture>
        <source srcset="./images/logo/logo@1x.png 1x, ./images/logo/logo@2x.png 2x" />
        <img src="./images/logo/logo@1x.png" alt="logo" />
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link--acctive" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__mobile">
      <button
        type="button"
        class="header__knob js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="20" height="12">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <button class="header__button" type="button">
        Buy now<span class="header__button--span">
          <svg width="6" height="10">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div class="backdrop js-menu-container" id="mobile-menu">
    <div class="mobile-menu">
      <button type="button" class="mobile-menu__close js-close-menu">
        <svg class="mobile-menu__icon--close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <button class="mobile-menu__btn" type="button">
        Buy now
        <svg class="mobile-menu__icon--arrow" width="6" height="10">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link--acctive" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#about">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Modal window -->
  <!-- Window -->
  <div class="backdrop-buy visually-hidden" data-backdrop>
        <div class="modal">
          <button type="button" class="modal__btn" data-close-btn>
          </button>
          <p class="modal__title">Leave your contacts, we'll call you imidiatly</p>
          <div class="form">
            <label class="form__label" for="name">Name</label>
            <input class="form__field" type="text" name="name" id="name" />
          </div>
          <div class="form">
            <label class="form__label" for="phone">Phone number</label>
            <input class="form__field" type="tel" name="phone" id="phone" />
          </div>
          <div class="form">
            <label class="form__label" for="mail">E-mail</label>
            <input class="form__field" type="email" name="e-mail" id="mail" />
          </div>
          <div class="form">
            <label for="input-text" class="form__label">
              Comment your order
            </label>
            <textarea
              name="feedback"
              rows="5"
              placeholder="Add comment ..."
              class="form__field form__text"
              id="input-text"
            ></textarea>
          </div>
          <div class="check">
            <input
              type="checkbox"
              class="check__box visually-hidden"
              name="policy"
              id="policy"
            />
            <label for="policy" class="check__text">
              <span class="check__item">
                <svg class="check__icon" width="11" height="8">
                  <use href="./images/icons.svg#icon-check"></use>
                </svg>
              </span>
              I agreed with<a href="" class="check__link"
                >Policy agreement</a
              >
            </label>
          </div>
          <button type="submit" class="form__btn">Buy</button>
        </div>

</section>
