<section class="hero">
  <div class="container">
    <div>
      <h1 class="hero__title">
        ice cream<br />
        made with<br /><span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__list">
        <li><a class="hero__list--btn" href="#">Products</a></li>
        <li><a class="hero__list--btn" href="#">How it’s made?</a></li>
      </ul>
      <div class="hero__milk">
        <img src="#" alt="milk" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="">&#129046;</a>
      </div>
    </div>
    <div class="hero__woman-eat">
      <ul>
        <li><span>16</span>cafes</li>
        <li><span>16</span>food trucks</li>
      </ul>
      <img src="#" alt="woman-eat-icecream" />
    </div>
  </div>
</section>
