<div class="backdrop-about backdrop-about__hidden" data-backdrop-about>
  <div class="backdrop-about__modal">
    <button type="button" class="backdrop-about__button-close" data-close-about>
      <svg
        width="14"
        height="14"
        xmlns="http://www.w3.org/2000/svg"
        class="backdrop-about__icon-close"
      >
        <use href="./images/icons.svg#icon-close-dark"></use>
      </svg>
    </button>
    <p class="backdrop-about__title">how it’s made?</p>
    <ul class="backdrop-about__list">
      <li class="backdrop-about__item">
        <p class="backdrop-about__subtitle">Technology 1</p>
        <p class="backdrop-about__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
          nam ipsum recusandae enim numquam officia doloremque sint. Laboriosam
          rerum est officiis mollitia et. Temporibus error praesentium eaque
          rerum quas magnam.
        </p>
      </li>
      <li class="backdrop-about__item">
        <p class="backdrop-about__subtitle">Technology 1</p>
        <p class="backdrop-about__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
          nam ipsum recusandae enim numquam officia doloremque sint. Laboriosam
          rerum est officiis mollitia et. Temporibus error praesentium eaque
          rerum quas magnam.
        </p>
      </li>
      <li class="backdrop-about__item">
        <p class="backdrop-about__subtitle">Technology 1</p>
        <p class="backdrop-about__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
          nam ipsum recusandae enim numquam officia doloremque sint. Laboriosam
          rerum est officiis mollitia et. Temporibus error praesentium eaque
          rerum quas magnam.
        </p>
      </li>
    </ul>
  </div>
</div>
