<article>
  <section class="section-products">
    <div class="section-products__container">
      <p class="section-products__subtitle">100% natural</p>
      <h2 class="section-products__title">products</h2>

      <ul class="section-products__list">
        <li class="section-products__item">
          <img class="section-products__img" src="" alt="" />
          <h3 class="products-ice__title">ice cream</h3>
          <p class="products-ice__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </li>
        <li class="section-products__item">
          <img class="section-products__img" src="" alt="" />
          <h3 class="products-ice__title">ice coffee</h3>
          <p class="products-ice__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </li>
        <li class="section-products__item">
          <img class="section-products__img" src="" alt="" />
          <h3 class="products-ice__title">milkshakes</h3>
          <p class="products-ice__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </li>
      </ul>
    </div>
  </section>
</article>
