<section class="reviews">
  <div>
    <img src="" alt="Reviews-1" />
    <p class="reviews_text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="mark"></div>
    <div class="mark"></div>
    <div class="mark"></div>

    <p>Emily, Los Angeles</p>
    <div class="slider-point"></div>
    <div class="slider-point"></div>
    <div class="slider-point"></div>
  </div>
</section>
