<section class="reviews">
  <div class="container reviews__slider">
    <div class="reviews__slide">
      <img
        class="reviews__image"
        src="./images/customer-reviews/customer1@1x.png"
        alt="Review-1"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>

      <p class="reviews__city">Emily, Los Angeles</p>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
    </div>
    <div class="reviews__slide">
      <img
        class="reviews__image"
        src="./images/customer-reviews/customer2@1x.png"
        alt="Review-1"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>

      <p class="reviews__city">Emily, Los Angeles</p>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
    </div>
    <div class="reviews__slide">
      <img
        class="reviews__image"
        src="./images/customer-reviews/customer3@1x.png"
        alt="Review-1"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>
      <div class="reviews__mark"></div>

      <p class="reviews__city">Emily, Los Angeles</p>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
      <div class="reviews__slider-point"></div>
    </div>
  </div>
</section>
