.contacts {
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ffffff 6%, #fff5f6 6%);

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(to bottom, #ffffff 12%, #fff5f6 12%);
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    background-image: linear-gradient(to bottom, #ffffff 14%, #fff5f6 14%);
  }

  &__wrapper {
    width: 70%;
    padding-bottom: 110px;

    @media screen and (min-width: 768px) {
      width: 100%;
      padding-bottom: 160px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 165px;

      background-image: url(./../images/contacts/sectionbg2@1x-desktop.png);
      background-repeat: no-repeat;
      background-position: 20% 33%;
      background-size: contain;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;

    padding-bottom: 54px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -20px;
      margin-left: -20px;
      margin-bottom: 81px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: -30px;
      margin-left: -30px;
      margin-bottom: 86px;
    }
  }

  &__item {
    padding: 43px 20px;

    background-color: var(--bg-color-primary);
    box-shadow: var(--card-shadows);
    border-radius: 24px;

    @media screen and (min-width: 768px) {
      max-width: 220px;
      margin-bottom: 0;
      margin-top: 20px;
      margin-left: 20px;
      flex-basis: calc((100%-60px) / 3);
      padding: 50px 31px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 330px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100%-90px) / 3);
      padding-top: 51px;
      padding-bottom: 62px;
      padding-left: 43px;
      padding-right: 43px;
    }
  }

  &__text {
    display: inline-block;

    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    border-radius: 4px;

    color: var(--text-color-primary);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;

      font-size: 16px;
    }

    &--peach {
      background-color: var(--bg-color-card-scnd);
    }

    &--green {
      background-color: var(--bg-color-card-thrd);
    }
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--text-color-thrd);

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;

      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;

      font-size: 16px;
    }
  }

  &__description {
    margin-bottom: 25px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color-scnd);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;

      font-size: 14px;
      line-height: 1.66;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;

      font-size: 16px;
      line-height: 1.83;
    }
  }

  &__schedule {
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid var(--color-element);
    border-bottom: 1px solid var(--color-element);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--text-color-thrd);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;

      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 16px;
    }
  }

  &__time {
    display: block;
    color: var(--brand-color-secondary);
  }

  &__communications {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.83;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__link {
    color: var(--text-color-scnd);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 161px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);

    &--dark {
      margin-bottom: 10px;

      background-color: var(--color-slider-icon-active);
      color: var(--text-color-primary);

      @media screen and (min-width: 768px) {
        min-width: 190px;
        margin-bottom: 0;
        margin-right: 15px;
      }

      @media screen and (min-width: 1280px) {
        min-width: 200px;
      }

      &:hover,
      &:focus {
        background-color: var(--bg-color-hover-btn);
      }
    }

    &--light {
      background-color: var(--bg-color-primary);
      color: var(--brand-color);

      @media screen and (min-width: 768px) {
        min-width: 175px;
      }

      @media screen and (min-width: 1280px) {
        min-width: 180px;
      }

      &:hover,
      &:focus {
        background-color: var(--bg-color-hover-btn-second);
      }
    }
  }

  &__icon {
    margin-left: 8px;
    width: 10px;
    height: 10px;
    stroke: var(--text-color-primary);

    @media screen and (min-width: 768px) {
      margin-left: 13px;
    }

    &--dark {
      stroke: var(--brand-color);
    }
  }
}
