.footer {
  background-color: var(--bg-color-prime);
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 44px 20px;
  background-color: var(--bg-color-prime);
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 90px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 100px;
  }
}

.footer__text {
  display: block;
  width: 234px;
  margin-left: 0;
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 474px;
  }
}

.footer__subtitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;

  color: var(--brand-color-secondary);
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.footer__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 16px;

  color: var(--brand-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.footer__container--icon {
  display: block;
  text-align: right;
}

.footer__networks {
  display: flex;
  justify-content: flex-end;
  margin-top: 44px;
  gap: 28px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    gap: 24px;
  }
}

.networks__icon {
  width: 32px;
  height: 32px;
}

.footer__link {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);

  margin-top: 46px;

  color: var(--brand-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.footer__link--text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;

  color: var(--text-color-thrd);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// .footer__line {
//   margin-top: 43px;
//   width: 100%;
//   height: 1px;

//   background-color: var(--color-element);
//   @media screen and (min-width: 768px) {
//     margin-top: 91px;
//   }
//   @media screen and (min-width: 1280px) {
//     margin-top: 98px;
//   }
// }

.footer__end {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;

  border-top: 1px solid var(--color-element);

  padding-top: 22px;
  padding-bottom: 25px;

  color: var(--text-color-scnd);
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 9px;
  }

  &--wrap {
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 479px) {
      max-width: 150px;
    }
    &::before {
      content: "\00a9";
    }
  }
}
