.footer__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 25px 20px;
  background-color: var(--bg-color-prime);
  width: 100vw;
}

.footer__text {
  display: block;
  width: 234px;
  margin-left: 0;
}

.footer__subtitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;

  color: var(--brand-color-secondary);
}

.footer__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 17px;

  color: var(--brand-color);
}

.footer__container--icon {
  display: block;
  text-align: right;
}

.footer__networks {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
  gap: 28px;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    gap: 25px;
  }
}

.networks__icon {
  width: 32px;
  height: 32px;
}

.footer__link {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;

  margin-top: 46px;

  color: var(--brand-color);
}

.footer__link--text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;

  color: var(--text-color-thrd);
}

.footer__line {
  margin-top: 43px;
  width: 100%;
  height: 1px;

  background-color: var(--color-element);
}

.footer__end {
  width: 150px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;

  color: var(--text-color-scnd);
}

.footer__end::before {
  content: "\00a9";
}
