.header {
  background-color: var(--bg-color-second);

  &__nav {
    display: none;
  }
}

.header__button {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
