.hero {
  background-color: var(--bg-color-second);

  padding-top: 193px;
  padding-bottom: 160px;
  &__list {
    display: flex;

    &--btn {
      font-family: DM Sans;
      font-size: 8px;
      line-height: 1.25;
      align-items: center;
      text-align: center;

      color: #ffffff;

      background-color: #d41443;
      border-radius: 20px;
    }
  }

  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;

    &--accent {
      font-family: Titan One;
      font-size: 48px;
      line-height: 1.04;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #d41443;
    }
  }

  &__milk {
    display: none;
  }

  &__woman-eat {
    display: none;
  }
}
