.hero {
  background-color: var(--bg-color-second);

  padding-top: 193px;
  padding-bottom: 160px;

  &__background-picture {
    position: absolute;
    top: 92px;
    right: 32px;

    &::after {
      position: absolute;

      content: '';
      width: 346px;
      height: 344px;
      background-color: var(--brand-color-secondary);
      border-radius: 50%;
    }
  }

  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;

    &--accent {
      font-family: Titan One;
      font-size: 48px;
      line-height: 1.04;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--brand-color);
    }
  }

  &__list {
    display: flex;

    &--btn {
      font-family: DM Sans;
      font-size: 8px;
      line-height: 1.25;
      align-items: center;
      text-align: center;

      color: #ffffff;

      background-color: #d41443;
      border-radius: 20px;
      padding: 10px 15px;

      &-accent {
        font-family: DM Sans;
        font-size: 8px;
        line-height: 1.25;
        align-items: center;
        text-align: center;

        color: #d41443;

        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 15px;

        margin-right: 8px;
      }
    }
  }

  &__milk {
    display: none;
  }

  &__woman-eat {
    display: none;
  }
}

.container--hero {
  position: relative;
}
