.hero {
  background-color: var(--bg-color-second);
  overflow: hidden;

  &__wrapper {
    position: absolute;
    z-index: 11;
    top: 137px;

    @media screen and (min-width: 768px) {
      position: static;
      margin-top: 15px;
    }
  }

  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.13;
    }

    &--accent {
      font-family: Titan One;
      font-size: 48px;
      line-height: 1.04;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--brand-color);

      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.13;
      }
    }
  }

  &__list {
    display: flex;

    &--btn {
      font-family: DM Sans;
      font-size: 8px;
      line-height: 1.25;
      align-items: center;
      text-align: center;

      color: #ffffff;

      background-color: #d41443;
      border-radius: 20px;
      padding: 10px 15px;

      &-accent {
        font-family: DM Sans;
        font-size: 8px;
        line-height: 1.25;
        align-items: center;
        text-align: center;

        color: #d41443;

        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 15px;

        margin-right: 8px;
      }
    }
  }

  &__milk {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    &--paragraph {
      font-family: DM Sans;
      font-size: 8px;
      line-height: 1.5;
      color: #ffffff;
    }
  }

  &__woman-eat {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.container--hero {
  position: relative;

  height: 450px;
}

.wrapper__background-picture {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  @media screen and (min-width: 768px) {
    left: 307px;
  }

  width: 100%;

  top: 36px;

  &::after {
    position: absolute;
    left: 36px;
    top: -9px;
    z-index: 3;
    content: '';
    width: 346px;
    height: 344px;
    background-color: var(--brand-color-secondary);
    border-radius: 50%;
  }
}

.hero__background-picture {
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 0;
}
