.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-bottom: 110px;
    @media screen and (min-width: 1280px) {
      padding-top: 130px;
      padding-bottom: 120px;
    }
  }
}

.products__subtitle {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--brand-color-secondary);
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.products__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 15px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 144px;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 150px;
    gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    margin-top: 260px;
    gap: 24px;
  }
}

.products__item {
  width: 100%;

  background: var(--bg-color-second);
  border-radius: 24px;
  text-align: center;
  padding: 160px 40px 40px 40px;

  position: relative;
  &:nth-child(2) {
    background-color: #f0d1a5;
  }
  &:nth-child(3) {
    background-color: #c2e297;
  }

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  @media screen and (min-width: 768px) {
    max-width: 280px;
    padding: 152px 11px 40px 11px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    padding: 160px 44px 50px 44px;
  }
}

.products__img {
  width: 250px;
  transform: translate(-50%);
  position: absolute;
  top: -113px;
  left: 50%;
  // @media screen and (min-width: 768px) {
  //   left: 0px;
  //   right: 0px;
  //   top: -104px;
  // }

  // @media screen and (min-width: 1280px) {
  //   left: 5px;
  //   right: 5px;
  //   top: -210px;
  // }
}

.products__item--title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.products__point {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.products__point--dot {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #ffffff;
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;

  margin-top: 30px;

  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }

  &-hide {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.products__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.products__link--icon::after {
  font-size: 14px;
  position: absolute;
  bottom: 25%;
  right: 30%;

  content: "\279c";
  color: var(--brand-color);
}
