.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-bottom: 110px;
    @media screen and (min-width: 1280px) {
      padding-top: 130px;
      padding-bottom: 120px;
    }
  }
}

.products__subtitle {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--brand-color-secondary);
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.products__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 15px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 144px;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 150px;
    gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    margin-top: 260px;
    gap: 24px;
  }
}

// .products__item::before {
//   content: '';
//   display: block;
//   width: 76px;
//   height: 40px;
//   background-image: url(../images/products/product1@1x-mobile.png);
// }

.products__item {
  width: 100%;

  background: var(--bg-color-second);
  &:nth-child(2) {
    background-color: var(--bg-color-card-scnd);
  }
  &:nth-child(3) {
    background-color: var(--bg-color-card-thrd);
  }
  border-radius: 24px;
  text-align: center;
  padding: 160px 40px 40px 40px;

  position: relative;
  &::before {
    display: block;
    content: '';
    background-repeat: no-repeat;
    width: 335px;
    height: 335px;
  }
  &:nth-child(1) {
    &::before {
      position: absolute;
      left: 16px;
      bottom: 220px;

      background-image: url(../images/products/product1@1x-mobile.png);
      // ('../images/products/product1@2x-mobile.png');
    }
  }
  &:nth-child(2) {
    &::before {
      position: absolute;
      left: 16px;
      bottom: 220px;
      background-image: url(../images/products/product2@1x-mobile.png);
      // url('../images/products/product2@2x-desktop.png');
    }
  }
  &:nth-child(3) {
    &::before {
      position: absolute;
      left: 16px;
      bottom: 220px;
      background-image: url(../images/products/product3@1x-mobile.png);
      // url('../images/products/product3@2x-desktop.png');
    }
  }

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  @media screen and (min-width: 768px) {
    max-width: 220px;
    padding: 152px 11px 40px 11px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &:nth-child(1) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 233px;

        background-image: url(../images/products/product1@1x-tablet.png);
        // url(../images/products/product1@2x-desktop.png);
      }
    }
    &:nth-child(2) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 233px;
        background-image: url(../images/products/product2@1x-tablet.png);
        // url('../images/products/product2@2x-desktop.png');
      }
    }
    &:nth-child(3) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 233px;
        background-image: url(../images/products/product3@1x-tablet.png);
        // url('../images/products/product3@2x-desktop.png');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    padding: 160px 44px 50px 44px;
    &:nth-child(1) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 380px;

        background-image: url(../images/products/product1@1x-desktop.png);
        // url(../images/products/product1@2x-desktop.png);
      }
    }
    &:nth-child(2) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 380px;
        background-image: url(../images/products/product2@1x-desktop.png);
        // url('../images/products/product2@2x-desktop.png');
      }
    }
    &:nth-child(3) {
      &::before {
        position: absolute;
        left: 0;
        bottom: 380px;
        background-image: url(../images/products/product3@1x-desktop.png);
        // url('../images/products/product3@2x-desktop.png');
      }
    }
  }
}

.products__item--title {
  position: relative;
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--bg-color-primary);
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.products__point {
  position: absolute;
  display: flex;
  display: inline-block;
  top: 45%;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: var(--bg-color-primary);
  &::after {
    content: '';
    display: flex;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(200%);
    background-color: var(--bg-color-primary);
  }
  &::before {
    content: '';
    display: flex;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-200%);
    background-color: var(--bg-color-primary);
  }
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;

  margin-top: 66px;

  color: var(--bg-color-primary);

  &-hide {
    @media screen and (min-width: 768px) {
      display: none;
      font-size: 14px;
    }
  }
  &-hide {
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      display: none;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-top: 70px;
    font-size: 16px;
  }
}

// .products__text--decor {
//   display: block;
//   position: absolute;
//   text-align: center;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.5;
//   letter-spacing: 0.03em;

//   top: 40%;
//   height: 100%;

//   color: #ffffff;
//   background-color: var(--bg-color-second);

//   padding: 10px 20px;

//   transform: translatey(100%);
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

.products__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color-primary);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.products__link--icon::after {
  font-size: 14px;
  position: absolute;
  bottom: 25%;
  right: 30%;

  content: '\279c';
  color: var(--brand-color);
}
