.reviews__slider {
  padding-bottom: 90px;
  @media screen and (min-width: 768px) {
    padding-bottom: 125px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 140px;
  }
}

.reviews__image {
  max-width: 85px;
  display: block;
  margin: 0 auto;
}
.comment-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fafafa;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  position: relative;
  @media screen and (min-width: 768px) {
    max-width: 620px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 930px;
  }
}

.reviews__icon {
  position: absolute;
  top: -20px;
  left: 15px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    left: 0px;
  }
  @media screen and (min-width: 1280px) {
    left: -18px;
  }
}
.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);

  color: #000000;
  padding: 0 18px;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1 0px 1px,
    transparent 1px 31px
  );
  text-align: center;
  position: relative;
  z-index: 10;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(30 / 14);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.reviews-text-container {
  position: relative;
}

.mark-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.reviews__mark {
  display: block;
  content: "";
  height: 4px;
  width: 4px;
  background: #c7133e;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.reviews__city {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(30 / 14);
  text-align: center;

  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(38 / 20);
  }
}
.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  content: "";
  background-image: url(../images/customer-reviews/house.svg);
  fill: #d31342;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-dots {
  position: relative;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
